.list { 
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: flex-start;
    width: 61%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;

    border-radius: 0.5rem;

    background: var(--gray-500);
}

.titleBox {
    flex: 1;
    margin-left: 1rem;
}

.title {
    display: block;
    position: relative;
    justify-content: flex-start;

    word-break: break-word;
    word-break: break-all;
    overflow-wrap: break-word;

    color: var(--gray-100);
}

.crossed {
    color: var(--gray-300);
    text-decoration: line-through;
}

.card button {
    border-style: none;
    cursor: pointer;
    margin-left: 3rem;

    background: var(--gray-500);
}

.card > input[type=checkbox] {
    display: none;
    margin-right: 1rem;
    color: var(--blue);
}

.card > input[type=checkbox] ~ label:before {
    content: "";
    margin-right: 1rem;
}

.circle {
    color: var(--blue);
}

.checkCircle {
    display: flex;
    padding: 0.2rem 0.2rem;
    color: var(--gray-100);
    border-radius: 50%;
    background-color: var(--purpleDark);
}

.card button:last-child {
    color: var(--gray-300);
}